.footer-wrapper {
    border: 1px solid gray;
    padding: 2rem 7rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer-box-row-one {
    display: flex;
    justify-content: space-between;
}

.footer-box-row-one a {
    text-decoration: none;
}

.footer-box-row-one a label {
    color: black;
    cursor: pointer;
}

.footer-box-row-two {
    display: flex;
    gap: 1rem;
}